@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --text-color: #fdfdfd;
}
* {
  outline: none;
}

body {
  font-family: "Inter" sans-serif;
  margin: 0;
  background: var(--background);
  color: var(--text-color);
}

.navbar,
.main_footer {
  max-width: 90%;
  margin: 0 auto;
}
/* the background styles for the main banner */
.banner_main {
  padding: 100px 0px;
  padding-bottom: 0px;
  margin-bottom: 50px;
  background: rgb(0, 0, 0, 0.8)
    url("./assets/ai-chip-artificial-intelligence-future-technology-innovation_53876-129780.webp");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
